# GPIO

GPIO.sln
GPIO.vcxproj
GPIO.vcxproj.user

/GPIO/obj
/GPIO/bin
/GPIO/readme

# GPIOdriver

GPIOdriver.sln
GPIOdriver.vcxproj
GPIOdriver.vcxproj.user

/GPIOdriver/obj
/GPIOdriver/bin
/GPIOdriver/readme

# Common

/.vs